{% extends 'admin/change_list.html' %}
{% load dashboard_extras %}
{% block content_title %}
    <h1> Patient Demographics Summary </h1>
{% endblock %}
{% block result_list %}
<h2>Insurance Status of Patient Population</h2>
  <table>  
    <thead>
      <tr>
        <th>
          <div class=”text”>
            <a href=”#”>Status</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Total</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
      	<td> Insured </td>
        <td> {{ has_insurance.insured|as_percentage_of:insurance_responses_total }} </td>
      </tr>
      <tr>
      	<td> Uninsured </td>
        <td> {{ has_insurance.uninsured|as_percentage_of:insurance_responses_total }} </td>
      </tr>
    </tbody>
  </table>
<br></br>
<h2>Employment Status of Patient Population</h2>
  <table>  
    <thead>
      <tr>
        <th>
          <div class=”text”>
            <a href=”#”>Status</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Total</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
      	<td> Employed </td>
        <td> {{ currently_employed.employed|as_percentage_of:employment_responses_total }} </td>
      </tr>
      <tr>
      	<td> Unemployed </td>
        <td> {{ currently_employed.unemployed|as_percentage_of:employment_responses_total }} </td>
      </tr>
    </tbody>
  </table>
  <br></br>
  <h2> Income Range Distribution </h2>
    <style>
    .bar-chart {
      display: flex;
      justify-content: space-around;
      height: 160px;
      padding-top: 60px;
      overflow: hidden;
    }
    .bar-chart .bar {
        flex: 100%;
        align-self: flex-end;
        margin-right: 2px;
        position: relative;
        background-color: #79aec8;
    }
    .bar-chart .bar:last-child {
        margin: 0;
    }
    .bar-chart .bar:hover {
        background-color: #417690;
    }
    .bar-chart .bar .bar-tooltip {
        position: relative;
        z-index: 999;
    }
    .bar-chart .bar .bar-tooltip {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-weight: bold;
        opacity: 0;
    }
    .bar-chart .bar:hover .bar-tooltip {
        opacity: 1;
    }
    .bar-chart .axis {
    	bottom: 20px;
    	font-size: 16px;
    	position: relative;
  	}
    </style>
    <div class="results">
        <div class="bar-chart">
        {% for x in income_range_count %}
        	<div class="bar" style="height:{{x.pct}}%">
                <div class="bar-tooltip">
                    {{x.count | default:0 }}<br>
                    {{x.range}}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <style>
    .container {
    	display: flex;
    	justify-content: space-between;
    	text-align: center;
    	margin-right: 100px;
    	margin-left: 100px;
    	padding-bottom: 20px;
    }
	</style>
    <div class="container">
    {% for x in income_range_count %}
        <div>{{x.range}}</div>
    {% endfor %}
	</div>
	<h2> Education Level Distribution </h2>
	 </style>
    <div class="results">
        <div class="bar-chart">
        {% for x in education_levels %}
        	<div class="bar" style="height:{{x.pct}}%">
                <div class="bar-tooltip">
                    {{x.count | default:0 }}<br>
                    {{x.level}}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="container">
    {% for x in education_levels %}
        <div>{{x.level}}</div>
    {% endfor %}
	</div>
	<h2>Most Common Chronic Conditions</h2>
  	<table>  
    <thead>
      <tr>
        <th>
          <div class=”text”>
            <a href=”#”>Chronic Conditions</a>
          </div>
        </th>
        <th>
          <div class=”text”>
            <a href=”#”>Count</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in chronic_conditions %}
      <tr>
        <td> {{ row.name }} </td>
        <td> {{ row.count }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block pagination %}
{% endblock %}