{% extends "pttrack/base.html" %}

{% load bootstrap3 %}

{% block title %}
Osler: {{ title | default:"All Patients"}}
{% endblock %}

{% block header %}
<h1>{{ title | default:"All Patients" }}</h1>
{% endblock %}

{% block content %}
   <div class="container">
        <table class="table">
            <tr>
                <th>Patient Name</th>
                <th>Age/Gender</th>
                <th>Case Managers</th>
                <th>Latest Activity</th>
                <th>Next AI Due</th>
                <th>Attestation</th>
            </td>
            {% for patient in object_list %}
                {% with latest_workup=patient.workup_set.0 %}
                {# .0 must be used instead of .first; .first induces additional queries because it is a "different" query (limit 1) and so doesn't use the prefetch_related cache #}
                    <tr>
                        <td><a href="{% url 'patient-detail' pk=patient.pk %}">{{ patient.name }}</a></td>
                        <td>{{ patient.age }}/{{patient.gender}}</td>
                        <td>{{ patient.case_managers.all | join:"; " }}</td>
                        <td>
                            {% if latest_workup %}
                                <a href="{% url 'workup' pk=latest_workup.pk %}">Seen {{ latest_workup.clinic_day.clinic_date }}</a>: {{latest_workup.chief_complaint}}
                            {% else %}
                                <a href="{% url 'patient-update' pk=patient.id %}">Intake</a>: {{patient.history.last.history_date}}
                            {% endif %}
                        </td>
                        <td>{{patient.status}}</td>
                        <td>
                            {% if not latest_workup %}
                                No Note
                            {% elif not latest_workup.signer %}
                                Unattested
                            {% else %}
                                {{ latest_workup.signer }}
                            {% endif %}
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
        </table>
	</div>
{% endblock %}