{% extends "pttrack/base.html" %}

{% load bootstrap3 %}

{% block title %}
Patient Intake
{% endblock %}

{% block header %}
<h1>Patient Intake</h1>
<p class="lead">Create a new patient in the database</p>
{% endblock %}

{% block content %}
<div class="container">
	{% load crispy_forms_tags %}
	{% crispy form %}
</div>

{% load static %}
<script src="{% static "pttrack/jquery.maskedinput.min.js" %}" ></script>

<script type="text/javascript">
  $("#id_ssn").mask("999-99-9999");
</script>
{% endblock %}