{% extends "pttrack/base.html" %}

{# unclear if this should be done in base.html or here... #}
{% load bootstrap3 %}

{% block title %}
Patient Details: {{ patient.last_name }}, {{ patient.first_name }} {{ patient.middle_name }}
{% endblock %}

{% block header %}
<div class="container-float col-md-7">
	<h1>{{ patient.last_name }}, {{ patient.first_name }} {{ patient.middle_name }}</h1>
	<p class="lead">{{ patient.age }} y/o {{ patient.ethnicity }} {{ patient.gender | lower }}</p>
	<p class="lead"><strong>Status:</strong> {{ patient.status }}</p>
</div>
<div class="container-float col-md-5">
	<h3 class='text-center'> Actions </h3>
	<div class="btn-group">
	    <!-- TODO: make links -->
	    <a class="btn btn-primary" href="followup/" role="button">Followup</a>
	    <a class="btn btn-success" href="workup/" role="button">Workup</a>
	    <a class="btn btn-info" href="action-item/" role="button">Action Item</a>
	    <a class="btn btn-warning" href="document/" role="button">Upload Document</a>
	</div>
</div>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">
	<div class="row">
		<h3>Info</h3>
		<div class="container col-md-4">
			<p>Language: {{patient.language}}</p>
			<p>DOB: {{patient.date_of_birth}}</p>
		</div>
		<div class="container col-md-4">
			<p><address>
			{{ patient.address }}<br>
			{{ patient.city }}, {{ patient.state }} {{ patient.zip_code }}
			</address></p>
		</div>
		<div class="container col-md-4">
			<p>P: {{ patient.phone }}</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-md-6">
		<h3>Notes</h3>
		{% for note in notes %}
			{% if note.CC %}<a href="/pttrack/workup/{{ note.pk }}"><h5>{{ note }}</h5></a>
			{% else %}<h5>{{ note }}</h5>{% endif %}
			<p> {{ note.short_text }} </p>
		{% empty %}
				<p class="text-muted"> No notes for {{ patient.name }} yet</p>
		{% endfor %}
	</div>
	<div class="col-md-6">
		<h3>Action Items</h3>
		{% for action_item in patient.action_item_set.all %}
			<p>{{ action_item }}</p>
		{% empty %}
			<p class="text-muted"> No notes for {{ patient.name }} yet</p>
		{% endfor %}
	</div>
</div>
{% endblock %}
