{% extends "pttrack/base.html" %}

{% load bootstrap3 %}

{% block title %}
Osler: {{ title | default:"All Patients"}}
{% endblock %}

{% block header %}
<h1>{{ title | default:"All Patients" }}</h1>
{% endblock %}

{% block content %}

<!-- <div class="container">
    <p> Filter by: <strong>[ item type ]</strong> due in the next <strong>[ n days ]</strong> <button type="submit" class="btn btn-success">Filter</button></p>
    <p> Sort by: <strong>[ field ]</strong> in <strong>[ ascending/descending ]</strong> order <button type="submit" class="btn btn-success">Sort</button></p>
</div> -->

<div class="container">
    <ul class="nav nav-pills" id = "tab-selection">
    </ul>
    <div class="tab-content" id = "patient-data">
    </div>

    <script type="text/javascript">
    var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    function formatDate(date) {
      var hours = date.getHours();
      var minutes = date.getMinutes();
      var ampm = hours >= 12 ? 'p.m.' : 'a.m.';
      hours = hours % 12;
      hours = hours ? hours : 12;
      minutes = minutes < 10 ? '0'+minutes : minutes;
      var strTime = hours + ':' + minutes + ' ' + ampm;
      return monthNames[date.getMonth()] + " " + date.getDate() + ", " + date.getFullYear() + ", " + strTime;
    }

    function buildTable(list){
        return function(patients){
            var tabPane = $("<div>").attr({
                id : list['identifier'],
                class : function(){
                            return list['active'] ? "tab-pane fade in active" : "tab-pane fade";
                        }
            }).append(
            $("<h3>").text(list['title'])
            );

            // build empty table
            var table = $("<table>").attr({
                class:"table"
            }).append(
            $("<tr>").append( // headings
                $("<th>").text("Name"),
                $("<th>").text("Age / Gender"),
                $("<th>").text("Latest Activity"),
                $("<th>").text("Next AI Due"),
                $("<th>").text("Status")
                )
            );

            // build table contents and append to table
            for (var i = 0; i < patients.length; i++){
                patient = patients[i];
                var patientRow = $("<tr>").append(
                    $("<td>").append(
                        $("<a>").attr({
                            href : patient.detail_url
                        }).text(patient.name)),
                    $("<td>").text(patient.age+" / "+patient.gender)
                    );
                if (patient.latest_workup){
                    $(patientRow).append(
                        $("<td>").append(
                            $("<a>").attr({
                                href :patient.latest_workup.url
                            }).text("Seen "+patient.latest_workup.clinic_day.clinic_date),
                            $("<span>").text(": "+patient.latest_workup.chief_complaint))
                        );
                } else{
                    $(patientRow).append(
                        $("<td>").append(
                            $("<a>").attr({
                                href : patient.update_url
                            }).text("Intake"),
                            $("<span>").text(": "+formatDate(new Date(patient.history.last.history_date))))
                        );
                }
                $(patientRow).append(
                    $("<td>").text(patient.status),
                    $("<td>").append(
                        $("<span>").text(function(){
                            return patient.needs_workup ? "Active " : "Inactive ";
                        }),
                        $("<a>").attr({
                            href : patient.activate_url
                        }).append(
                        $("<span>").attr({
                            class :function(){
                                return patient.needs_workup ? "glyphicon glyphicon-remove-circle" : "glyphicon glyphicon-play-circle";
                            },
                            'aria-hidden' : "true"
                        })
                        )
                        )                        
                    );
                $(table).append($(patientRow));
            }
            $(tabPane).append($(table));
            $("#patient-data").append($(tabPane));
            $("#num-"+list['identifier']).text(patients.length);
        }
    }

    function doUponLoading(event){
        var lists = {{lists|safe}};
        for (var i = 0; i < lists.length; i++){
            $("#tab-selection").append( // build pill tabs. Do here before ajax call so order of tabs is preserved
                $("<li>").attr({
                    class : function(){
                        return lists[i]['active'] ? "active" : "";
                    }
                }).append(
                $("<a>").attr({
                    'data-toggle' : "pill",
                    href : "#"+lists[i]['identifier']
                }).append(
                $("<span>").text(lists[i]['title']),
                $("<span>").attr({
                    class:"badge",
                    id:"num-"+lists[i]['identifier']
                })))
            );

        $.get('/api/pt_list.json/?'+lists[i]['url']) // make ajax call
        .success(buildTable(lists[i])) // need separate scoping to pass in lists[i]
        .error(function(jqXHR, textStatus, errorThrown) { 
            if (textStatus == 'timeout')
                console.log('The server is not responding');

            if (textStatus == 'error')
                console.log(errorThrown);
        });
        }
        
    }
    document.addEventListener("DOMContentLoaded", doUponLoading, false);
</script>

{% endblock %}
