{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div>
	<h1>{{ patient.last_name }}, {{ patient.first_name }} {{ patient.middle_name }}</h1>
	<p class="lead">{{ patient.age }} y/o {{ patient.ethnicity }} {{ patient.gender }}</p>

	<h3>Status: {{ patient.status }}<h3>
</div>

<div class="container">
	<p class="lead">Contact</p>
	<p><address>
	{{ patient.address }}<br>
	{{ patient.city }}, {{ patient.state }} {{ patient.zip_code }}
	</address></p>
	<p>P: {{ patient.phone }}</p>
</div>

<p>Language: {{patient.language}}</p>
<p>DOB: {{patient.date_of_birth}}</p>

</div class="container">
	<h3>Notes for {{patient.first_name}} {{patient.last_name}}</h3>
	{% for note in patient.followup_set.all %}
	<div class="container">
		<p> {{ note.note }} - Date written: {{ note.written_date }}</p>
	</div>
	{% endfor %}
</div>

<div class="container">
	<h3>Add a new note</h3>
	<form action="">
	<input type="radio" name="type" value="workup">Workup</input>
	<input type="radio" name="type" value="followup">Followup</input>
	</form>
	<form action="workup/" method="post">
	    {% csrf_token %}
	    {{ workup_form }}
	    <input type="submit" value="Submit" />
	</form>
	<form action="followup/" method="post">
	    {% csrf_token %}
	    {{ followup_form }}
	    <input type="submit" value="Submit" />
	</form>
</div>