{% extends "pttrack/base.html" %}

{# unclear if this should be done in base.html or here... #}
{% load bootstrap3 %}

{% block title %}
Patient Details: {{ patient.last_name }}, {{ patient.first_name }} {{ patient.middle_name }}
{% endblock %}

{% block header %}
<div class="col-md-5">
	<div class="col-md-1">
		<h2><br><a href="{% url 'all-patients' %}">{% bootstrap_icon "chevron-left" %}</a></h2>
	</div>
	<div class="col-md-11">
		<h2>{{ patient.last_name }}, {{ patient.first_name }} {{ patient.middle_name }} <a href="{% url 'patient-update' pk=patient.id %}"><small>{% bootstrap_icon "pencil" %}</small></a></h2>
		<p class="lead">{{ patient.age }} y/o {{ patient.ethnicities.iterator | join:", " }} {{ patient.gender | lower }}</p>
		<p class="lead"><strong>Status:</strong> {{ patient.status }}</p>
	</div>
</div>
<div class="col-md-5 pull-right">
	<h3 class='text-center'> Actions </h3>
	<div class="btn-group">
	    <a class="btn btn-primary" href="{% url 'followup-choice' pt_id=patient.pk %}" role="button">Followup</a>
	    <a class="btn btn-success" href="{% url 'new-workup' pt_id=patient.pk %}" role="button">Workup</a>
	    <a class="btn btn-info" href="{% url 'new-action-item' pt_id=patient.pk %}" role="button">Action Item</a>
	    <a class="btn btn-warning" href="{% url 'new-document' pt_id=patient.pk %}" role="button">Upload Document</a>
	</div>
</div>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">
	<div class="row">
		<h3>Info</h3>
		<div class="container col-md-4">
			<p>Language: {{ patient.languages.iterator | join:", " }}</p>
			<p>DOB: {{patient.date_of_birth}}</p>
		</div>
		<div class="container col-md-4">
			<p><address>
			{{ patient.address }}<br>
			{{ patient.city }}, {{ patient.state }} {{ patient.zip_code }}
			</address></p>
		</div>
		<div class="container col-md-4">
			<!-- <p>P: {{ patient.phone }} -->
			<table class="table table-condensed">
				<tr><th>Contact</th><th>Phone Number</th></tr>
			{% for phone, owner in patient.all_phones %}
				{% if phone or owner %}
				<tr><td>{{ owner | default:"Primary" }}</td><td>{{ phone }}</td></tr>
				{% endif %}
			{% endfor %}
			</table>
			<!-- </p> -->
		</div>
	</div>
</div>

<!-- <div class="container">
	<div class="row">
		<h3>Demographics</h3>
		<div class="alert alert-danger" role="alert">
			<p><strong>Whoa!</strong> You haven't entered any demographic information yet.</p>
		</div>
	</div>
</div> -->

<div class="container">
	<div class="col-md-6">
		<h3>Notes ({{ patient.notes | length }})</h3>
		<table class="table">
		{% for note in patient.notes %}
			<tr>
				{% if note.chief_complaint %}
					<p><a href="{% url 'workup' pk=note.pk %}"><strong>Workup:</strong></a> {{ note.short_text }}</p>
				{% elif note.document_type %}
					<p><a href="{% url 'document-detail' pk=note.pk %}"><strong>{{ note.document_type | title }}:</strong></a> {{ note.short_text }}</p>
				{% else %}
					{# here, the url takes an arugment to route it to the correct  #}
					<p><a href="{% url 'followup' pk=note.pk model=note.type %}"><strong>{{ note.type }} Followup:</strong></a> {{ note.short_text }}</p>
				{% endif %}
				<p class="text-muted text-right">by {{ note.author }} ({{ note.author_type }}) at {{ note.written_datetime }}</p>
			</td></tr>
		{% empty %}
				<p class="text-muted"> No notes for {{ patient.name }} yet</p>
		{% endfor %}
		</table>
	</div>
	<div class="col-md-6">
		<h3>Active Action Items ({{ patient.active_action_items | length }})</h3>
		<table class="table">
			{% for action_item in patient.active_action_items %}
			<tr><td><a href="{% url 'done-action-item' ai_id=action_item.pk %}"/> {% bootstrap_icon "unchecked" %}</a></td>
				<td>
				<p><strong>{{ action_item.instruction }}:</strong> {{ action_item.comments }}</p>
				<p class="text-muted text-right">{{ action_item.author }} on {{ action_item.written_datetime }}</p>
			</td></tr>
			{% empty %}
				<p class="text-muted"> No due action items for {{ patient.name }}</p>
			{% endfor %}
		</table>

		<h3>Pending Action Items ({{ patient.inactive_action_items | length }})</h3>
		<table class="table">
			{% for action_item in patient.inactive_action_items %}
			<tr><td><a href="{% url 'done-action-item' ai_id=action_item.pk %}"/> {% bootstrap_icon "unchecked" %}</a></td>
				<td>
					<p><strong>{{ action_item.instruction }}</strong>, due {{action_item.due_date}}: {{ action_item.comments }}</p>
					<p class="text-muted  text-right"> Written by {{ action_item.author }} on {{ action_item.written_datetime }}</p>
				</td></tr>
			{% empty %}
				<p class="text-muted"> No pending action items for {{ patient.name }}</p>
			{% endfor %}
		</table>

		<h3>Completed Action Items ({{ patient.done_action_items | length }})</h3>
		<table class="table">
			{% for action_item in patient.done_action_items %}
			<tr><td><a href="{% url 'reset-action-item' ai_id=action_item.pk %}"/> {% bootstrap_icon "check" %}</a></td>
				<td>
					<p><strong>{{ action_item.instruction }}:</strong> {{ action_item.comments }}</p>
					<p class="text-muted  text-right">Marked done by {{ action_item.completion_author }} on {{ action_item.completion_date }}</p>
				</td></tr>
			{% empty %}
				<p class="text-muted"> No finished action items for {{ patient.name }}</p>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
