{% extends "pttrack/base.html" %}

{% block title %}
Patient Details: {{ patient.last_name }}, {{ patient.first_name }} {{ patient.middle_name }}
{% endblock %}

{% block header %}
<div class="col-md-5">
	<div class="col-md-1">
		<h2><br><a href="{% url 'all-patients' %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></h2>
	</div>
	<div class="col-md-11">
		<h2> <a href="{% url 'patient-update' pk=patient.id %}">{{ patient.last_name }}, {{ patient.first_name }} {{ patient.middle_name }}
<!-- 			<small><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></small> -->
		</a></h2>
		<p class="lead">{{ patient.age }} y/o {{ patient.ethnicities.iterator | join:", " }} {{ patient.gender | lower }}</p>
		<p class="lead"><strong>Status:</strong> {{ patient.status }}</p>
		<p class="lead"><strong>FQHC Referral Status:</strong> {{ referral_status }}</p>
		<p class="lead"><strong>Referrals:</strong> {{ referrals.iterator | join:", " }}</p>
		<p class="lead"><strong>Case Manager:</strong> {{patient.case_managers.iterator | join:"; "}}
		{% if request.session.staff_view %}
			{% if patient.needs_workup %}
		  	    <p class="lead"> Patient is Active <a href="{% url 'patient-activate-detail' pk=patient.id %}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a></p>
		    {% else %}
    			<p class="lead"> Patient is Inactive <a href="{% url 'patient-activate-detail' pk=patient.id %}"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a></p>
			{% endif %}
		{% else %}
			{% if patient.needs_workup %}
	    		<p class="lead"> Patient is Active </p>
		    {% else %}
  	  			<p class="lead"> Patient is Inactive </p>
		    {% endif %}
	    {% endif %}
	</div>
</div>
<div class="col-md-4 text-center pull-right" style="border: 2px  black">
	<h3> Actions </h3>
	<div class="btn-group-verticle">
    <a class="btn btn-success pull-left btn-block" href="{% url 'new-workup' pt_id=patient.pk %}" role="button">Create New Workup</a>
    <a class="btn btn-info pull-left btn-block" href="{% url 'new-action-item' pt_id=patient.pk %}" role="button">Create New Action Item</a>
    <a class="btn btn-warning pull-left btn-block" href="{% url 'new-document' pt_id=patient.pk %}" role="button">Upload Document or Prescription</a>
    <a class="btn btn-primary pull-left btn-block" href="{% url 'followup-choice' pt_id=patient.pk %}" role="button">Create New Followup</a>
    <a class="btn btn-danger pull-left btn-block" href="{% url 'new-progress-note' pt_id=patient.pk %}" role="button">Create New Psych Progress Note</a>
    <a class="btn btn-success pull-left btn-block" href="{% url 'select-referral-type' pt_id=patient.pk %}" role="button">Create New Referral</a>
    <a class="btn btn-info pull-left btn-block" href="{% url 'select-referral' pt_id=patient.pk %}" role="button">New Referral Followup</a>
    <a class="btn btn-warning pull-left btn-block" href="{% url 'appointment-new' %}?pt_id={{patient.pk}}" role="button">Create New Appointment</a>
	</div>
</div>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">
	<h3>&nbsp;&nbsp;Demographic Information</h3>
	<div class="container col-md-4">
		<p><strong>&nbsp;&nbsp;Language:</strong> {{ patient.languages.iterator | join:", " }}</p>
		<p><strong>&nbsp;&nbsp;DOB:</strong> {{patient.date_of_birth}}</p>
		<p><strong>&nbsp;&nbsp;SSN:</strong> {{patient.ssn | default:"Not Provided"}}</p>
		<p><strong>&nbsp;&nbsp;Email:</strong> {{patient.email | default:"Not Provided"}}</p>
	</div>
	<div class="container col-md-4">
		<p>
		<strong>Address:</strong><br>
		{{ patient.address }}<br>
		{{ patient.city }}, {{ patient.state }} {{ patient.zip_code }}
		</p>
	</div>
	<div class="container col-md-4">
		<table class="table table-condensed">
			<tr><th>Contact</th><th>Phone Number</th></tr>
		{% for phone, owner in patient.all_phones %}
			{% if phone or owner %}
			<tr><td>{{ owner | default:"Primary" }}</td><td>{{ phone }}</td></tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
</div>

{% if request.session.staff_view %}
<div class="container">
	<div class="col-md-12">
		{% if patient.demographics %}
		<a href="{% url 'demographics-detail' patient.demographics.id %}" class="btn btn-default" role="button">See Patient Survey Data</a>
		{% else %}
		<div class="alert alert-danger" role="alert"><strong>Warning!</strong> There is no survey data for this patient. Please click on the following pencil to enter the data: <a href="{% url 'demographics-create' patient.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></div>
		{% endif %}
	</div>
</div>
{% endif %}

<div class="container">
	<div class="col-md-6">
		<h3>Submitted Notes ({{ patient.notes | length }} Total)</h3>
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
      				<h4 class="panel-title"><a data-toggle="collapse" href="#collapse1">Workups ({{ patient.workup_set.all | length }})</a></h4>
    			</div>
    			<div id="collapse1" class="panel-collapse collapse">
      				{% for note in patient.workup_set.all %}	
  						<div class="panel-body">
							<p><a href="{% url 'workup' pk=note.pk %}"><strong>Workup:</strong></a> {{ note.short_text }}</p>
							<p class="text-muted text-right">by {{ note.author }} ({{ note.author_type }}) at {{ note.written_datetime }}</p>
							{% if request.session.staff_view %}
							<p class="text-right">
								<a href="{% url 'workup-pdf' pk=note.pk %}" target="_blank"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
								&nbsp;|&nbsp;
								<a href="{% url 'admin:workup_workup_change' note.id %}" target="_blank"><i>Edit</i></a>
							</p>
							{% endif %}
  						</div>
      				{% endfor %}	
    			</div>
  			</div>
  			<div class="panel panel-default">
  				{% with patient.document_set.all as note_set %}
	    			<div class="panel-heading">
	      				<h4 class="panel-title"><a data-toggle="collapse" href="#collapse2">Uploaded Prescriptions and Documents ({{ patient.document_set.all | length }})</a></h4>
	    			</div>
	    			<div id="collapse2" class="panel-collapse collapse">
	      				{% for note in patient.document_set.all %}	
	  						<div class="panel-body">
								<p><a href="{% url 'document-detail' pk=note.pk %}"><strong>{{ note.document_type | title }}:</strong></a> {{ note.short_text }}</p>
								<p class="text-muted text-right">by {{ note.author }} ({{ note.author_type }}) at {{ note.written_datetime }}</p>
								{% if request.session.staff_view %}
								<p class="text-right"><a href="{% url 'admin:pttrack_document_change' note.id %}" target="_blank"><i>Edit</i></a></p>
								{% endif %}
	  						</div>
	      				{% endfor %}	
	    			</div>
    			{% endwith %}
  			</div>
  			<div class="panel panel-default">
  				{# followup_set is a custom method in the patient object returns a list rather than a queryset, so no .all() #}
    			<div class="panel-heading">
      				<h4 class="panel-title"><a data-toggle="collapse" href="#collapse3">Followups ({{ total_followups}})</a></h4>
    			</div>
    			<div id="collapse3" class="panel-collapse collapse">
      				{% for note in patient.followup_set %}	
  							<div class="panel-body">
								{# here, the url takes an arugment to route it to the correct  #}
								<p><a href="{% url 'followup' pk=note.pk model=note.type %}"><strong>{{ note.type }} Followup:</strong></a> {{ note.short_text }}</p>
								<p class="text-muted text-right">by {{ note.author }} ({{ note.author_type }}) at {{ note.written_datetime }}</p>
								{% if request.session.staff_view %}
									{% if note.CS_HELP %}
									<a href="{% url 'admin:followup_labfollowup_change' note.id %}" target="_blank"><i>Edit</i></a></p>
									{% elif note.SUBSQ_DOSE_HELP %}
									<a href="{% url 'admin:followup_vaccinefollowup_change' note.id %}" target="_blank"><i>Edit</i></a></p>
									{% elif note.REFTYPE_HELP %}
									<a href="{% url 'admin:followup_referralfollowup_change' note.id %}" target="_blank"><i>Edit</i></a></p>
									{% else %}
									<a href="{% url 'admin:followup_generalfollowup_change' note.id %}" target="_blank"><i>Edit</i></a></p>
									{% endif %}
								{% endif %}
  							</div>
      				{% endfor %}
      				{% for note in referral_followups %}
      						<div class="panel-body">
      							<p><strong>Referral Followup:</strong> {{ note.short_text }}</p>
      							<p class="text-muted text-right">by {{ note.author }} ({{ note.author_type }}) at {{ note.written_datetime }}</p>
      							{% if request.session.staff_view %}
      								<a href="{% url 'admin:referral_patientcontact_change' note.id %}" target="_blank"><i>Edit</i></a></p>
      							{% endif %}
  							</div>
      				{% endfor %}
    			</div>
  			</div>
  			<div class="panel panel-default">
				<div class="panel-heading">
      				<h4 class="panel-title"><a data-toggle="collapse" href="#collapse4">Psych Progress Note ({{ patient.progressnote_set.all | length }})</a></h4>
    			</div>
    			<div id="collapse4" class="panel-collapse collapse">
      				{% for note in patient.progressnote_set.all %}	
  						<div class="panel-body">
							<p><a href="{% url 'progress-note-detail' pk=note.pk %}"><strong>Progress Note:</strong></a> {{ note.short_text }}</p>
							<p class="text-muted text-right">by {{ note.author }} ({{ note.author_type }}) at {{ note.written_datetime }}</p>
							{% if request.session.staff_view %}
								<p class="text-right"><a href="{% url 'admin:workup_progressnote_change' note.id %}" target="_blank"><i>Edit</i></a>
							</p>
							{% endif %}
  						</div>
      				{% endfor %}	
    			</div>
  			</div>
		</div>
	</div>
	<div class="col-md-6">
		<h3>Action Items ({{ total_ais }} Total)</h3>
		<div class="panel-group">
  			{% for ai_type in zipped_ai_list %}
	  			<div class="panel panel-default">
		    			<div class="panel-heading">
		      				<h4 class="panel-title">
		        			<a data-toggle="collapse" href="#{{ ai_type.0 }}">{{ ai_type.2 }} ({{ ai_type.1 | length }})</a>
		      				</h4>
		    			</div>
		    			<div id="{{ ai_type.0 }}" class="panel-collapse collapse">
		      				{% for action_item in ai_type.1 %}	
		  						<div class="panel-body">
		  							{% if ai_type.3 %}
		  								{% if action_item.class_name == "ActionItem" %}
											<p><a href="{% url 'done-action-item' ai_id=action_item.pk %}"/> <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></a>
											<strong><a href="{% url 'done-action-item' ai_id=action_item.pk %}">{{ action_item.instruction }}:</a></strong> {{ action_item.comments }}</p>
										{% else %}
											<p><a href="{% url 'new-patient-contact' pt_id=patient.id referral_id=action_item.referral.pk followup_id=action_item.pk %}"/> <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></a>
											<strong><a href="{% url 'new-patient-contact' pt_id=patient.id referral_id=action_item.referral.pk followup_id=action_item.pk%}">Referral:</a></strong> {{ action_item.contact_instructions }}</p>
										{% endif %}

									{% else %}
										<p><span class="glyphicon glyphicon-check" aria-hidden="true"></span>
										{% if action_item.class_name == "ActionItem" %}
											<strong>{{ action_item.instruction }}:</strong> {{ action_item.comments }}</p>
										{% else %}
											<strong>Referral:</strong> {{ action_item.contact_instructions }}</p>
										{% endif %}
									{% endif %}

									{% if action_item.priority %}
									<h4 class="text-left" style="color:red"><b>PRIORITY</b></h4>
									{% endif %}
									<p class="text-muted text-right">{{ action_item.author }} on {{ action_item.written_datetime }}</p>
									{% if request.session.staff_view %}
										{% if action_item.class_name == "ActionItem" %}
											<p class="text-right"><a href="{% url 'admin:pttrack_actionitem_change' action_item.id %}" target="_blank"><i>Edit</i></a></p>
										{% else %}
											<p class="text-right"><a href="{% url 'admin:referral_followuprequest_change' action_item.pk %}" target="_blank"><i>Edit</i></a></p>
										{% endif %}
									{% endif %}
									</p>
		  						</div>
		      				{% endfor %}	
		    			</div>
	  			</div>
	  		{% endfor %}
  		</div>
	</div>
</div>

<div class="container">
    <div class="col-md-8">
        <h3>Appointments ({{ patient.appointment_set.all | length }} Total)</h3>
        <div class="panel-group">
            {% for apt_type in zipped_apt_list %}
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" href="#{{ apt_type.0 }}">{{ apt_type.2 }} ({{ apt_type.1 | length }})</a>
                            </h4>
                        </div>
                        <div id="{{ apt_type.0 }}" class="panel-collapse collapse">
                            {% for date, app_list in apt_type.3.iteritems %}
                                <div class="panel-body">
                                    <h3>{{ date  | date:"l F d, Y" }}</h3>
                                    {% for app in app_list %}
                                        <div class="row">
                                            <div class="col-md-4">{{ app.clintime }}</div>
                                            
                                            <div class="col-md-4 pull-right">{{ app.get_appointmentType_display }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8"><i>{{ app.comment }}</i></div>
                                            <div class="col-md-4"><a href="{% url 'appointment-update' pk=app.id %}">Edit Appointment</a></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-9"></br></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}    
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
