{% extends "pttrack/base.html" %}

{% load bootstrap3 %}

{% block header %}
<h1>All Patients</h1>
{% endblock %}

{% block content %}

<div class="container">
    <p> Filter by: <strong>[ item type ]</strong> due in the next <strong>[ n days ]</strong> <button type="submit" class="btn btn-success">Filter</button></p>
    <p> Sort by: <strong>[ field ]</strong> in <strong>[ ascending/descending ]</strong> order <button type="submit" class="btn btn-success">Sort</button></p>
</div>

<div class="container">
    <table class="table">
        {% for patient in object_list %}
            <tr>
            <td><a href="{{ patient.pk }}/">{{ patient.name }}</a></td>
            <td>{{ patient.city }}</td>
            <td>{{ patient.state }}</td>
            <td>{{ patient.zip_code }}</td>
            <td>{{ patient.gender }}</td>
            <td>{{ patient.age }}</td>
            <td>{{ patient.ethnicity }}</td>
            <td>{{ patient.comp_status }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}