{% extends "pttrack/base.html" %}

{% load bootstrap3 %}

{% block title %}
Osler: {{ title | default:"Phone Directory"}}
{% endblock %}

{% block header %}
<h1>{{ title | default:"Phone Directory" }}</h1>
{% endblock %}

{% block content %}

<!-- <div class="container">
    <p> Filter by: <strong>[ item type ]</strong> due in the next <strong>[ n days ]</strong> <button type="submit" class="btn btn-success">Filter</button></p>
    <p> Sort by: <strong>[ field ]</strong> in <strong>[ ascending/descending ]</strong> order <button type="submit" class="btn btn-success">Sort</button></p>
</div> -->
    <div class="container">
        <h3>All Patients</h3>
        <table class="table">
            <tr><th>Patient Name</th><th>Phone Owner</th><th>Number</th></td>
            {% for patient in object_list %}
                {% for phone, owner in patient.all_phones %}
                    {% if phone or owner %}
                        <tr>
                        <td><a href="{% url 'patient-detail' pk=patient.pk %}">{{ patient.name }}</a></td>
                        <td>{{ owner | default:"Primary" }}</td>
                        <td>{{ phone }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}