{% extends "pttrack/base.html" %}

{% block title %}
Choose Clinical Role
{% endblock %}

{% block header %}
<h2>How are you volunteering?</h2>
<p class="lead">It looks to us like you wear a couple of different hats around here. What are you doing today?</p>
{% endblock %}

{% block content %}

<div class="container">
<div class="container text-center">
  <form action="" method="post" class="form-inline">
    {% csrf_token %}

    <div class="row">
    {% for role in roles %}
    <label class="radio-inline">
      <input type="radio" name="{{choice_key}}" value="{{role}}" required>
      {{ role }}
    </label>
    {% endfor %}
    </div>

    <div class="row">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
</div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Role Choice</h4>
        </div>
        <div class="modal-body">
          <p>Here, if you selected more than one clinical role (attending, etc), you'll be asked to pick one.
             In actual practice, most people only have one, and they'll never see this page.</p>
          <p>For now, just choose "coordinator," since they have the most complete view of things.</p>
          <p>(You can out and log back in again to see this page again.)</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
</script>

{% endblock %}
