{% extends "pttrack/base.html" %}

{% load bootstrap3 %}

{% block title %}
Workup: {{ workup.patient.name }}
{% endblock %}

{% block header %}
    <h1>Workup on {{ workup.patient.name }}</h1>
    <p class="lead">Seen on {{ workup.clinic_day.clinic_date }}</p>
    {% if workup.signed %}
    <p class="lead">Signed by {{workup.signer}}</p>
    {% else %}
    <p class="lead">Workup unsigned.</p>
    {% endif%}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <h4>Actions</h4>
        <div class="btn-group">
            <a class="btn btn-primary" href="{% url 'workup-update' pk=workup.patient.pk %}" role="button">Update</a>
            {% if not workup.signed %}
            <a class="btn btn-success" href="{% url 'workup-sign' pk=workup.pk %}" role="button">Sign</a>
            {% endif %}
            <a class="btn btn-info" href="{% url 'new-action-item' pt_id=workup.patient.pk %}" role="button">Add Action Item</a>
        </div>
    </div>
    <div class="row">
        <h4>At a Glance</h4>
        <div class="col-md-4">
            <strong>Chief Complaint:</strong> {{workup.chief_complaint}}
        </div>
        <div class="col-md-4">
            <strong>Author:</strong> {{ workup.author.name }} ({{ workup.author_type }})
        </div>
        <div class="col-md-4">
            <strong>Patient will Return:</strong> {{ workup.will_return }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>Diagnosis:</strong> {{ workup.diagnosis }}
        </div>
        <div class="col-md-4">
            <strong>Dx Category:</strong> {{ workup.diagnosis_category }}
        </div>
    </div>
    <div class="row">
        <h4>H and P</h4>
        <div class="col-md-12">
            <strong>HPI:</strong> {{workup.HPI}}
        </div>
        <div class="col-md-12">
            <strong>PMH/PSH:</strong> {{workup.PMH_PSH}}
        </div>
        <div class="col-md-12">
            <strong>Medications:</strong> {{workup.meds}}
        </div>
        <div class="col-md-12">
            <strong>Allergies:</strong> {{workup.allergies}}
        </div>
        <div class="col-md-12">
            <strong>FamHx:</strong> {{workup.fam_hx}}
        </div>
        <div class="col-md-12">
            <strong>SocHx:</strong> {{workup.soc_hx}}
        </div>
        <div class="col-md-12">
            <strong>ROS:</strong> {{workup.ros}}
        </div>
    </div>

    <div class="row">
        <h4>Physical Exam</h4>
        <div class="col-md-2">
            <strong>Vital Signs</strong>
        </div>
        <div class="col-md-2">
            <strong>HR:</strong> {{workup.hr}}
        </div>
        <div class="col-md-2">
            <strong>BP:</strong> {{workup.bp}}
        </div>
        <div class="col-md-2">
            <strong>RR:</strong> {{workup.rr}}
        </div>
        <div class="col-md-2">
            <strong>T:</strong> {{workup.t}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <strong>Physical Exam:</strong> {{workup.pe}}
        </div>
        <div class="col-md-12">
            <strong>Labs (Quest):</strong> {{workup.labs_ordered_quest}}
        </div>
        <div class="col-md-12">
            <strong>Labs (In House):</strong> {{workup.labs_ordered_internal}}
        </div>
        <div class="col-md-12">
            <strong>Rx:</strong> {{workup.rx}}
        </div>
    </div>
    <div class="row">
        <h4>Discharge</h4>
        <div class="col-md-4">
            <strong>Patient got Voucher:</strong> {{workup.got_voucher}}
        </div>
        <div class="col-md-4">
            <strong>Voucher Amount:</strong> {{workup.voucher_amount}}
        </div>
        <div class="col-md-4">
            <strong>Pt Pays:</strong> {{workup.patient_pays}}
        </div>
        <div class="col-md-4">
            <strong>Referral Type:</strong> {{workup.referral_type}}
        </div>
        <div class="col-md-4">
            <strong>Referral Type:</strong> {{workup.referral_location}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>A and P:</strong> {{workup.A_and_P}}
        </div>
    </div>
</div>
{% endblock %}
