Django==1.9.1
django-bootstrap3==6.2.2
git+https://github.com/inducer/django-bootstrap3-datetimepicker.git
django-crispy-forms==1.6.0
django-simple-history==1.9.1
djangorestframework==3.4.0
ecdsa==0.13
html5lib==1.0.1
httplib2==0.11.3
Pillow==5.1.0
PyPDF2==1.26.0
reportlab==3.4.0
six==1.11.0
webencodings==0.5.1
xhtml2pdf==0.2.2
