asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.6
django-bootstrap3==12.1.0
django-crispy-forms==1.8.1
django-simple-history==2.9.0
djangorestframework==3.11.0
ecdsa==0.13.3
future==0.18.2
html5lib==1.0.1
httplib2==0.11.3
idna==2.9
Pillow==7.1.2
PyPDF2==1.26.0
pytz==2020.1
reportlab==3.4.0
requests==2.23.0
six==1.11.0
sqlparse==0.2.4
urllib3==1.25.9
webencodings==0.5.1
xhtml2pdf==0.2.2
