{% extends "core/base.html" %}

{% block title %}
Select vaccine series
{% endblock %}

{% block header %}
<h1>Select Vaccine Series</h1>
<p class="lead">{% trans 'Specify which vaccine you would like to give' %}</p>
{% endblock %}

{% block content %}

{% if form.fields.series.queryset.count %}
	<div class="container">
	  {% load crispy_forms_tags %}
	  {% crispy form %}
	</div>
{% else %}
	<div class="container"/>
		<h3>{%blocktrans%}Oops! There aren't any existing vaccine series for this patient yet...{%endblocktrans%}</h3>
	</div>
{% endif %}
<div class="container">
	<h4>{%blocktrans%}Can't find what you're looking for?{%endblocktrans%} <a href="{% url 'new-vaccine-series' pt_id=pt_id %}">{%blocktrans%}Create new vaccine series{%endblocktrans%}</a></h4>
</div>
{% endblock %}
