{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}
Osler: Survey Responses
{% endblock %}

{% block header %}

<div class="container">
	<h1>{{ object.survey.title }} Response</h1>
  <p class="lead">For <a href="#">Lastname, Firstname</a></p>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h4>Section</h4>
    {% for key, value in answer_dict.items %}
    <div class="col-md-12">
      <strong> {{key}} </strong>
      <ul>
        {% for ans in value %}
          {% if value|length > 1 %} 
            <li>{{ ans }}</li>
          {% else %}
            {{ans}}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
    <div class="col-md-12">
      <hr>
      <p class='text-muted'>Filled on {{response.created_at}} by {user} </p>
    </div>
  </div>
</div>

{% endblock %}
