{% extends "core/base.html" %}

{% block title %}
{% trans 'Active Patients'%}
{% endblock %}

{% block header %}
<h1>{% trans 'Active Patients'%}</h1>
{% endblock %}

{% block content %}

<div class="container">

	<table class="table table-striped">
    <tr>
        <th>{% trans 'St.'%}</th>
	    <th>{% trans 'Patient'%}</th>
	    <th>{% trans 'Age / Gender'%}</th>
	    <th>{% trans 'Last Seen'%}</th>
	    <th>{% trans 'Latest Activity'%}</th>
	</tr>
	{% for patient in patients %}
	<tr id="id_pt_{{ patient.id }}">
		<td><a href="{% url 'core:patient-activate-home' pk=patient.id %}"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
		<td><a href="{% url 'core:patient-detail' pk=patient.id %}">{{ patient.name }}</a></td>
		<td>{{ patient.age }} / {{ patient.gender }}</a></td>
		<td>{{ patient.last_seen | date:"D d M Y" }}</td>
        <td>
            {% with latest_workup=patient.workup_set.all.0 %}
            {% if latest_workup %}
                <a href="{% url 'workup' pk=latest_workup.pk %}">{% blocktrans %}Seen {{ latest_workup.encounter.clinic_day }}</a>: {{latest_workup.chief_complaint}}{% endblocktrans %}
            {% else %}
                <a href="{% url 'core:patient-update' pk=patient.id %}">{% blocktrans %}Intake</a>: {{patient.history.last.history_date}}{% endblocktrans %}
            {% endif %}
            {% endwith %}
        </td>
	<tr>
	{% endfor %}
	</table>	
</div>
{% endblock %}
