{% extends "core/base.html" %}

{% load i18n %}

{% block title %}
{% trans 'Recent Clinic Dates' %}
{% endblock %}

{% block header %}
<h1>{% trans 'Attending Dashboard' %}</h1>
{% endblock %}

{% block content %}

{{ wu_list.count }}

<div class="container">

	{% for clinic_day, wu_list in clindate_page %}
		<h3>{{ clinic_day }}</h3>
		<table class="table table-striped">
		<thead>
		<tr>
			<th>{% trans 'Patient' %}</th>
			<th>{% trans 'Chief Complaint' %}</th>
			<th>{% trans 'Last Seen' %}</th>
			<th>{% trans 'Attending' %}</th> 
			<th>{% trans 'Note Author' %}</th>
			<th>{% trans 'Attestation' %}</th>
		</tr>
		</thead>
		<tbody>
		{% for wu in wu_list %}
		<tr {% if wu.signer == None %} class="warning" {% endif %}>
			<td><a href="{% url 'core:patient-detail' pk=wu.patient.id %}">{{ wu.patient }}</a></td>
			<td><a href="{% url 'workup' pk=wu.id %}">{{ wu.chief_complaint }}</a></td>
			<td>{{ wu.patient.last_seen | date:"D d M Y" }}</td>
			<td>{{ wu.attending }}</td>
			<td>{{ wu.author }}</td>
			{% if wu.signer %}
				<td>{{ wu.signer }}</td>
			{% else %}
				<td>{% trans "unattested" %}</td>
			{% endif %}
		</tr>
		{% endfor %}
		</tbody>
		</table>
	{% endfor %}

	<h3>{% trans 'Patients without Notes' %}</h3>
	<table class="table table-striped">
		<tr>
			<th>{% trans 'Patient' %}</th>
			<th>{% trans 'Last Seen' %}</th>
		</tr>
		{% for patient in no_note_patients.all %}
		<tr>
			<td><a href="{% url 'core:patient-detail' pk=patient.id %}">{{ patient }}</a></td>
			<td>{{ patient.last_seen | date:"D d M Y" }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="2" style="text-align:center;"><strong>&hellip;</strong></td>
		</tr>
	</table>

	<nav aria-label="Page navigation" style='text-align: center;'>
		<ul class="pagination">
			<li {% if not clindate_page.has_previous %}class="disabled" {% endif %}>
				<a {% if clindate_page.has_previous %} href="?page={{ clindate_page.previous_page_number }}" {% endif %} aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>

			{% for i in clindate_page.paginator.page_range %}
			<li {% if i == clindate_page.number %}class="active" {% endif %}><a href="?page={{ i }}">{{ i }}</a></li>
			{% endfor %}

			<li {% if not clindate_page.has_next %}class="disabled" {% endif %}>
				<a {% if clindate_page.has_next %} href="?page={{ clindate_page.next_page_number }}" {% endif %} aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
	<div>
		<p style='text-align:center'>{% blocktrans %}Page {{ clindate_page.number }} of {{ clindate_page.paginator.num_pages }}{% endblocktrans %}</p>
	</div>

</div>



{% endblock %}