{% extends "pttrack/base.html" %}

{% block title %}
New referral followup
{% endblock %}

{% block header %}
<h1>New referral followup</h1>
{% if patient %}
<p class="lead">Referral for <em><a href="{% url 'patient-detail' pk=patient.id %}">{{ patient.name }}</a></em></p>
{% endif %}
<p class="lead">Referral to 
{% for ref in referral.location.all %}
	{{ref.name}}
	{% if forloop.last %}
	{% else %}
	or
	{% endif %}
{% endfor %}
</p>
<p class="lead">Followup requested for {{followup.due_date}}</p>

{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
	<div class="row">
		<div class='col-md-offset-2 col-md-8' style='padding-bottom: 2em'>
		  <p>A referral is considered <strong><span class='text-success'>successful</span> only once a patient has both made <i>and gone to</i> and appointment</strong>. Please <strong><span class='text-info'>continue following up</span></strong> with patients until they have completed an appointment. Only once you have exhausted followup should you save as an <strong><span class="text-danger">unsuccessful referral.</span></strong></p>
		</div>
	</div>
  {% crispy form %}
</div>

{% endblock %}
