{% extends "core/base.html" %}

{% block title %}
Osler: About
{% endblock %}

{% block header %}
<h1><a href="https://en.wikipedia.org/wiki/William_Osler">Osler</a></h1>
<p class="lead">Simple patient tracking from Washington University School of Medicine in St. Louis</p>
{% endblock %}

{% block content %}

<div class="container">
  <div class="col-md-4">
    <h4>Are you a programmer?</h4>
    <p>We're on <a href="https://github.com/SaturdayNeighborhoodHealthClinic">Github</a> and we're always looking for smart folks with new ideas!</p>
  </div>
  <div class="col-md-4">
    <h4>Hosted by CloudWUSM, <br> Powered by <a href="https://www.djangoproject.com/">Django</a></h4>
  </div>
  <div class="col-md-4">
    <h4>By Med Students,<br> For Med Students</h4>
    <p><strong>Development:</strong> Justin Porter and Lucas Thomas</p>
    <p><strong>Design:</strong> Justin Porter and Radhika Jain</p>
    <p></p><em>with substantial contributions from our <a href="https://snhc.wustl.edu/#/contact">board members</a>.</em></div>
  </div>

</div>

{% endblock %}
