{% extends "core/base.html" %}

{% load static %}

{% block title %}
Osler: {{ title | default:"All Patients"}}
{% endblock %}

{% block header %}
<h1>{{ title | default:"All Patients" }}</h1>
{% endblock %}

{% block content %}

<div id="root"> </div>

{% endblock %}

{% block extra_js %}

<script src="{% static 'js/all_patients.bundle.js' %}"></script>
<script>
  all_patients.render({
    'activePatients': {{ active|yesno:'true,false' }},
    'displayCaseManagers': {{ settings.OSLER_DISPLAY_CASE_MANAGERS|yesno:'true,false' }},
  });
</script>

{% endblock %}
