<!DOCTYPE html>

{% load static %}
{% load i18n %}

<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% endblock %} 
    
    {{ form.media }} 
    
    {% block extra_head %} {% endblock %}

  </head>

  <body>

    <div id='top-nav-bar'>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="{% url 'home' %}" class="navbar-brand">{% trans 'Osler Home' %}</a>
        <div class="navbar-collapse collapse">
          <div class="mr-auto navbar-nav">
            <a href="{% url 'core:preintake' %}" class="nav-link">{% trans 'New Patient' %}</a>
            <a href="{% url 'core:all-patients' %}" class="nav-link">{% trans 'All Patients' %}</a>
            <a href="{% url 'dashboard-active' %}" class="nav-link">{% trans 'Active Patients' %}</a>
            <a href="{% url 'inventory:drug-list' %}" class="nav-link">{% trans 'Drug Inventory' %}</a>
            {% if settings.OSLER_DISPLAY_APPOINTMENTS %}
              <a href="{% url 'appointment-list' %}" class="nav-link">{% trans 'Appointments' %}</a>
            {% endif %}
            {% if settings.OSLER_DISPLAY_ATTENDANCE %}
              <a href="{{ settings.OSLER_ATTENDANCE_URL }}" class="nav-link">{% trans 'Attendance' %}</a>
            {% endif %}
            <a href="{% url 'about' %}" class="nav-link">{{ settings.OSLER_ABOUT_NAME }}</a>
          </div>
          {% if user.is_authenticated %}
          <div class="navbar-nav">
            {% if user.is_superuser %}
              <a href="{% url 'admin:index' %}" class="nav-link">{% trans 'Admin' %}</a>
            {% endif %}
            <a href="{% url 'account_logout' %}" class="nav-link">
              {% trans 'Logout' %} {{ request.user }} ({{ request.session.active_role_name | default:"no role" }})
            </a>
          </div>
          {% endif %}
        </div>
      </nav>
    </div>

    <div class="jumbotron">
      <div class="container">
        {% block header %}{% endblock %}
      </div>
    </div>

    {% if messages %} {% for message in messages %}
    <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
      <p>{{ message }}</p>
    </div>
    {% endfor %} {% endif %} 
    
    {% block content %}{% endblock %} 
    
    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    {% endblock javascript %}


	{% block extra_js %}
	{# Override this in templates to add extra javascript #}
	{% endblock %}

  <footer class="container" style="padding-top: 5%">
    <p class="text-muted">{% blocktrans with github_url=settings.OSLER_GITHUB_URL %}Osler is free and open source software built by friends. To learn more or contribute, find us on <a href="{{github_url}}">GitHub</a>.{% endblocktrans %}</p>
  </footer>

</html>