{% extends "core/base.html" %}

{% load i18n %}

{% block title %}
{% trans 'Instantiate New Clindate' %}
{% endblock %}

{% block header %}
<h1>{% trans 'Good Morning!' %}</h1>
<p class="lead">{%blocktrans%}It looks like you're the first one here...{% endblocktrans %}</p>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">
	<p class="lead">{% blocktrans %}We've identified today as a SNHC clinic day, but we need you to tell us what type of clinic is happening today!{% endblocktrans %}</p>
	{% load crispy_forms_tags %}
	{% crispy form %}
</div>

{% endblock %}