{% extends "core/base-form.html" %}

{% load i18n %}

{% block title %}
{{ note_type }} {{ patient.name }}
{% endblock %}

{% block header %}
<h1>{% trans 'New' context "New note type" %} {{ note_type }} </h1>
<p class="lead">{% blocktrans %}Add a new {{ note_type | lower }} for{% endblocktrans %} <em><a href="{% url 'core:patient-detail' pk=patient.id %}">{{ patient.name }}</a></em></p>
{% endblock %}

{% block content %}
<div class="container">
  {% load crispy_forms_tags %}
  {% crispy form %}
</div>
{% endblock %}