{% extends "core/base.html" %}

{% block title %}
Patient Data Dashboard
{% endblock %}

{% block header %}
Patient Data Dashboard
{% endblock %}

{% block content %}
    <div class="container">
        <canvas id="htnAgeChart"></canvas>
        <canvas id="htnGenderChart"></canvas>
        <canvas id="htnEthnicityChart"></canvas>
    </div>
{% endblock %} {% block pagination %}{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var jsondata = JSON.parse("{{data|escapejs}}"),
    ageStepSize = 10,
    ageRanges = [],
    ageLabels = [],
    sortedAges = [];

var ages = jsondata.map(function(e) {
    return e.age
})

var maxAge = ages.reduce(function(a, b) {
    return Math.max(a, b);
});

// note: currently infants less than 1 years old are still counted and are displayed under the 1-ageStepSize range
for(var i=0; i<maxAge; i+=ageStepSize){
    ageDict = {}
    ageDict['key'] = i;
    ageDict['value'] = 0;
    ageRanges.push(ageDict)
    ageLabels.push(String(i+1)+"-"+String(i+ageStepSize))
}

jsondata.map(function(e){
    ageRanges.forEach(function(range){
        if(e.age > range['key'] && e.age <= range['key']+ageStepSize)
            range['value']+=1
    })
})

ageRanges.forEach(function(range){
    sortedAges.push(range['value'])
})

var ctx = document.getElementById('htnAgeChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ageLabels,
        datasets: [{
            label: 'Hypertensive Age Ranges',
            backgroundColor: 'rgb(100, 157, 210)',
            borderColor: 'black',
            data: sortedAges
        }]
    },

    // Configuration options go here
    options: {}
});


// is there a way to not hard code the gender types?
var genderData = {
    "Male":0,
    "Female":0,
    "Other":0
}
jsondata.map(function(e) {
    for(var i=0; i<Object.keys(genderData).length; i++){
        if(e.gender == Object.keys(genderData)[i]){
            genderData[Object.keys(genderData)[i]]++
        }
    }
})

var genderChart = document.getElementById('htnGenderChart').getContext('2d');
var pieChart = new Chart(genderChart, {
    type: 'doughnut',
    data: {
      labels: Object.keys(genderData),
      datasets: [{
        label: "Genders",
        backgroundColor: ["#3e95cd", "#8e5ea2","#666666"],
        data: Object.values(genderData)
      }]
    },
    options: {
      title: {
        display: true,
        text: 'HTN Gender Distribution'
      }
    }
});

var ethnicityData = {
    "White":0,
    "Black or African American":0,
    "American Indian or Alaska Native":0,
    "Asian":0,
    "Native Hawaiian or Other Pacific Islander":0,
    "Hispanic or Latino":0,
    "Other":0
}
jsondata.map(function(e){
    e.ethnicities.forEach(function(ethnicity){
        for(var i=0; i<Object.keys(ethnicityData).length; i++){
            if(ethnicity == Object.keys(ethnicityData)[i]){
                ethnicityData[Object.keys(ethnicityData)[i]]++
            }
        }
    })     
})

var ethnicityChart = document.getElementById('htnEthnicityChart').getContext('2d');
var pieChart = new Chart(ethnicityChart, {
    type: 'doughnut',
    data: {
      labels: Object.keys(ethnicityData),
      datasets: [{
        label: "Genders",
        backgroundColor: ['#002b36', '#073642', '#586e75', '#657b83',
                '#839496', '#93a1a1', '#eee8d5', '#fdf6e3','#662404'],
        data: Object.values(ethnicityData)
      }]
    },
    options: {
      title: {
        display: true,
        text: 'HTN Ethnicity Distribution'
      }
    }
});
</script>    
{% endblock %}