{% extends "core/base.html" %}

{% block title %}
Attestable Basic Note: {{ attestablebasicnote.patient.name }}
{% endblock %}

{% block header %}
  <div class="row">
    <div class="col-md-10">
      <h2>{{ attestablebasicnote.title }}</h2>
      <p class="lead">For <a href="{% url 'core:patient-detail' pk=attestablebasicnote.patient.id %}">{{ attestablebasicnote.patient.name }}</a></p>
    </div>
    {% if can_modify_attestablebasicnote %}
    <div class="col-md-1 pull-right">
    <h1><a href="{% url 'attestable-basic-note-update' pk=attestablebasicnote.id %}">
      <small><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></small></a>
    </h1>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h3>{{ attestablebasicnote.title}}</h3>
    <div class="col-md-12">
        {% if attestablebasicnote.signed %}
        <strong>Attested by</strong> {{attestablebasicnote.signer}} <strong>on:</strong> {{attestablebasicnote.signed_date}} 
        {% else %}
        <strong>Workup unattested. Attending:</strong> {{ attestablebasicnote.attending }}
        {% endif%}
    </div>
  </div> 
  <div class="row" style="padding: 20px">
    <div class="col-md-12"> {{attestablebasicnote.text}}</div>
    <div class="col-md-12">
    <small class="text-muted">written by {{ attestablebasicnote.author }} on {{ attestablebasicnote.written_datetime }}</small>
    {% if attestablebasicnote.last_modified != attestablebasicnote.written_datetime %}
    <br><small class="text-muted">last modified {{attestablebasicnote.last_modified}}</small>
    {% endif %}
    </div>     
  </div>
</div>
{% endblock %}
