{% block content %}

{% load i18n %}

<div class="container">
    <div class="row">
        <h4>{% trans 'Workup on' %} {{ workup.patient.name }}</h4>
        <div class="col-md-4">
            <strong>{% trans 'DOB' %}:</strong> {{workup.patient.date_of_birth}}
        </div>
        <div class="col-md-4">
            <strong>{% trans 'Seen on' %}:</strong> {{ workup.encounter.clinic_day }}
        </div>
        {% if workup.signed %}
        <div class="col-md-4">
            <strong>{% blocktrans %}Attested by</strong> {{workup.signer}} <strong>on:</strong> {{workup.signed_date}}{% endblocktrans %}
        </div>
        {% else %}
        <div class="col-md-4">
            <strong>{% blocktrans %}Workup unattested. Attending:</strong> {{ workup.attending }}{% endblocktrans %}
        </div>
        {% endif%}
    </div>
    <div class="row">
        <div class="col-md-4">
            <strong>{% trans 'Age' %}: </strong> {{workup.patient.age}}
        </div>
        <div class="col-md-4">
            <strong>{% trans 'Gender' %}: </strong> {{ workup.patient.gender }}
        </div>
        <div class="col-md-4">
            <strong>{% trans 'Ethnicity' %}: </strong> {{ workup.patient.ethnicities.iterator | join:", " }}
        </div>
    </div>
    <div class="row">
        <h4>{% trans 'At a Glance' %}</h4>
        <div class="col-md-4">
            <strong>{% trans 'Chief Complaint' %}:</strong> {{workup.chief_complaint}}
        </div>
        <div class="col-md-4">
            <strong>{% trans 'Author' %}:</strong> {{ workup.author }} ({{ workup.author_type }})
        </div>
        <div class="col-md-4">
            <strong>{% trans 'Other Volunteer(s)' %}:</strong> {{ workup.other_volunteer.iterator | join:"; "}}
        </div>
    </div>
    <div class="row">
        {% if settings.OSLER_DISPLAY_DIAGNOSIS %}
        <div class="col-md-4">
            <strong>{% trans 'Diagnosis' %}:</strong> {{ workup.diagnosis }}
        </div>
        <div class="col-md-4">
            <strong>{% trans 'Dx Category' %}:</strong> {{ workup.diagnosis_categories.iterator | join:", " }}
        </div>
        {% endif %}
        {% if settings.OSLER_DISPLAY_WILL_RETURN %}
        <div class="col-md-4">
            <strong>{% trans 'Patient will Return' %}:</strong> {{ workup.will_return | yesno }}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <h4>{% trans 'H and P' %}</h4>
        <div class="col-md-12">
            <strong>{% trans 'HPI' %}:</strong> {{workup.hpi| linebreaksbr }}
        </div>
        <div class="col-md-12">
            <strong>{% trans 'PMH' %}:</strong> {{workup.pmh | linebreaksbr }}
        </div>
        <div class="col-md-12">
            <strong>{% trans 'PSH' %}:</strong> {{workup.psh | linebreaksbr }}
        </div>
        <div class="col-md-12">
            <strong>{% trans 'Medications' %}:</strong> {{workup.meds | linebreaksbr }}
        </div>
        <div class="col-md-12">
            <strong>{% trans 'Allergies' %}:</strong> {{workup.allergies | linebreaksbr }}
        </div>
        <div class="col-md-12">
            <strong>{% trans 'FamHx' %}:</strong> {{workup.fam_hx | linebreaksbr }}
        </div>
        <div class="col-md-12">
            <strong>{% trans 'SocHx' %}:</strong> {{workup.soc_hx | linebreaksbr }}
        </div>
        <div class="col-md-12">
            <strong>{% trans 'ROS' %}:</strong> {{workup.ros | linebreaksbr }}
        </div>
    </div>

    <div class="row">
        <h4>{% trans 'Physical Exam' %}</h4>
        <div class="col-md-12">
            <h5>{% trans 'Vital Signs' %}</h5>
        </div>
        <div class="col-md-2">
            <strong>{% trans 'HR' %}:</strong> {{workup.hr}} bpm
        </div>
        <div class="col-md-2">
            <strong>{% trans 'BP' %}:</strong> {{workup.bp_sys}} / {{workup.bp_dia}} mmHg
        </div>
        <div class="col-md-2">
            <strong>{% trans 'RR' %}:</strong> {{workup.rr}} {% trans 'per min' %}
        </div>
        <div class="col-md-2">
            <strong>{% trans 'T' %}:</strong> {{workup.t}} &deg;C
        </div>
        <div class="col-md-2">
            <strong>{% trans 'Height' %}:</strong> {{workup.height}} cm
        </div>
        <div class="col-md-2">
            <strong>{% trans 'Weight' %}:</strong> {{workup.weight}} kg
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <strong>{% trans 'Physical Exam' %}}:</strong> {{workup.pe | linebreaksbr }}
        </div>
        <div class="col-md-6">
            <strong>{% trans 'Labs (Internal)' %}:</strong> {{workup.labs_ordered_internal | linebreaksbr }}
        </div>
        <div class="col-md-6">
            <strong>{% trans 'Labs (External)' %}:</strong> {{workup.labs_ordered_external | linebreaksbr }}
        </div>
    </div>
    <div class="row">
        <h4>{% trans 'Discharge' %}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>{% trans 'A and P' %}:</strong> {{workup.a_and_p | linebreaksbr }}
        </div>
    </div>
    <div class="row">
        {% if settings.OSLER_DISPLAY_VOUCHERS %}
        <div class="col-md-4">
            <strong>{% trans 'Patient got Voucher' %}:</strong> {{workup.got_voucher | yesno }}
        </div>
        {% if workup.got_voucher %}
        <div class="col-md-4">
            <strong>{% trans 'Voucher Amount' %}:</strong> {{workup.voucher_amount}}
        </div>
        <div class="col-md-4">
            <strong>{% trans 'Pt Pays' %}:</strong> {{workup.patient_pays | default_if_none:"n/a" }}
        </div>
        {% endif %}
        {% if workup.got_imaging_voucher %}
        <div class="col-md-4">
            <strong>{% trans 'Voucher Amount' %}:</strong> {{workup.imaging_voucher_amount}}
        </div>
        <div class="col-md-4">
            <strong>{% trans 'Pt Pays' %}:</strong> {{workup.patient_pays_imaging | default_if_none:"n/a" }}
        </div>
        {% endif %}
        {% endif %}
        {% if settings.OSLER_DISPLAY_REFERRALS %}
        <div class="col-md-4">
            <strong>{% trans 'Referral Type' %}:</strong>
            {% for type in workup.referral_type.all %}
            {{ type.name }}
            {% endfor %}
        </div>
        <div class="col-md-4">
            <strong>{% trans 'Referral Location' %}:</strong>
            {% for location in workup.referral_location.all %}
            {{ location.name }}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>{% trans 'Rx' %}:</strong> <mark style="background-color:yellow">{{workup.rx | linebreaksbr}}</mark>
        </div>
    </div>
    <div class="row">
        <h4>{% trans 'Addenda' %}</h4>
    </div>
    {% for addendum in workup.addendum_set.all reversed %}
    <div class="row">
        <div class="col-md-12">
            <strong>{{ addendum.author }} ({{ addendum.author_type }}) {% trans 'at' %} {{ addendum.written_datetime }}:</strong> {{addendum.text| linebreaksbr }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}