{% extends "core/base.html" %}

{% block title %}
Workup: {{ workup.patient.name }}
{% endblock %}

{% block header %}
    <h1>Workup on {{ workup.patient.name }}</h1>
    <p class="lead">Seen on {{ workup.clinic_day.clinic_date }}</p>
    {% if workup.signed %}
    <p class="lead">Attested by {{workup.signer}} on {{workup.signed_date}} </p>
    {% else %}
    <p class="lead">Workup unattested.</p>
    {% endif%}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <h4>Actions</h4>
        <div class="btn-group">
            {% if workup.signed and request.session.signs_charts or not workup.signed %}
            <a class="btn btn-primary" href="{% url 'workup-update' pk=workup.pk %}" role="button">Update</a>
            {% endif %}
            {% if not workup.signed and request.session.signs_charts %}
            <a class="btn btn-success" href="{% url 'workup-sign' pk=workup.pk %}" role="button">Attest</a>
            {% endif %}
            <a class="btn btn-info" href="{% url 'core:new-action-item' pt_id=workup.patient.pk %}" role="button">Add Action Item</a>
            {% if request.session.staff_view %}
            <a class="btn btn-warning" href="{% url 'workup-pdf' pk=workup.pk %}" target="_blank" role="button">PDF</a>
            {% endif %}
        </div>
    </div>
</div>

{% include "workup/workup_body.html" with workup=workup %}
{% endblock %}
