{% extends "core/base.html" %}

{% load i18n %}

{% block title %}
{% trans 'Workup' %}: {{ workup.patient.name }}
{% endblock %}

{% block header %}
<h1>{% trans 'Workup on' %} {{ workup.patient.name }}</h1>
<p class="lead">{% trans 'Seen on' %} {{ workup.clinic_day.clinic_date }}</p>
{% if workup.signed %}
<p class="lead">{% blocktrans %}Attested by {{workup.signer}} on {{workup.signed_date}} {% endblocktrans %}</p>
{% else %}
<p class="lead">{% trans 'Workup unattested' %}.</p>
{% endif%}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row text-center">
    <h4>{% trans 'Actions' %}</h4>
    <div class="btn-group">
      {% if workup.signed and request.session.signs_charts or not workup.signed %}
      <a class="btn btn-primary" href="{% url 'workup-update' pk=workup.pk %}" role="button">{% trans 'Update' %}</a>
      {% endif %}
      {% if not workup.signed and request.session.signs_charts %}
      <a class="btn btn-success" href="{% url 'workup-sign' pk=workup.pk %}" role="button">{% trans 'Attest' %}</a>
      {% endif %}
      <a class="btn btn-info" href="{% url 'core:new-action-item' pt_id=workup.patient.pk %}" role="button">{% trans 'Add Action Item' %}</a>
      {% if request.session.staff_view %}
      <a class="btn btn-warning" href="{% url 'workup-pdf' pk=workup.pk %}" target="_blank" role="button">{% trans 'PDF' %}</a>
      {% endif %}
    </div>
  </div>
</div>

{% include "workup/workup_body.html" with workup=workup %}
{% endblock %}