{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans 'Drug Inventory'%}
{% endblock %}

{% block header %}
<h2>{% trans 'Drug Inventory'%}</h2>
<a class="btn btn-primary btn-lg" href="{% url 'inventory:pre-drug-add-new' %}" role="button">{% trans 'Add New Drug'%}</a>
{% if can_export_csv %}
  <a class="btn btn-primary btn-lg" href="{% url 'inventory:export-csv' %}" role="button">{% trans 'Export Inventory'%}</a>
  <a href="#" class="btn btn-primary btn-lg"  data-toggle="modal" data-target="#dispensingHistoryModal" role="button">{% trans 'Export Dispensing History'%}</a>
  <div class="modal fade" id="dispensingHistoryModal" tabindex="-1" role="dialog" aria-labelledby="dispensingHistoryModalLabel" aria-hidden="true">
    <form action="{% url 'inventory:export-dispensing-history' %}" method="post">
      {% csrf_token %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="dispensingHistoryModalLabel">{% trans 'Select Date Range'%}</h2>
          </div>
          <div class="modal-body">
            <div class="form-group">
              {% trans 'Start Date'%}:
              <input type="date" class="form-control" name="start_date" id="start_date" required>
              {% trans 'End Date'%}:
              <input type="date" class="form-control" name="end_date" id="end_date" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close'%}</button>
            <button type="submit" class="btn btn-primary">{% trans 'Export Dispensing History'%}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endif %}
{% endblock %}

{% block content %}
<div id="root"></div>
{% endblock %}

{% block extra_js %}

<script src="{% static 'js/drug_list.bundle.js' %}"></script>
<script>
  drug_list.render({});
</script>

<script>
// {# adapted from "https://www.w3schools.com/howto/howto_js_filter_table.asp" #}
function filterDrugListTable() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("drug-list-filter-input");
  filter = input.value.toUpperCase();
  table = document.getElementById("drug-list-table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  // Start at one to avoid hitting table header
  for (i = 1; i < tr.length; i++) {
    var match = 0;
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
        // need additional indexing because patient's name is a link
        if (check(td.getElementsByTagName("a")[0], filter)) {
            match = 1;
        }
    }
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
        if (check(td, filter)) {
            match = 1;
        }
    }
    if (match == 1) {
      tr[i].style.display = "";
    } else {
      tr[i].style.display = "none";
    }
  }
}

function check(haystack_element, needle){
    var haystack = haystack_element.innerHTML.toUpperCase()
    if (!needle) {return 1}
    if (haystack && haystack.indexOf(needle) > -1) {
        return 1
    } else {
        return 0
    }
}

</script>
{% endblock %}
