{% extends "core/base.html" %}
{% load i18n %}

{% block title %}
{% trans 'Add New Drug'%}
{% endblock %}

{% block header %}
<h1>{% trans 'Existing Drug'%}</h1>
<p class="lead">{%blocktrans%}There was one or more similar drugs already in the database.<br/>Select one or create a new drug.</p>{%endblocktrans%}
{% endblock %}

{% block content %}
    <div class="container">
        <h2>{%blocktrans%}Existing drug {{name}}, {{lot_number}}{%endblocktrans%}</h2>
        <table class="table table-striped">
            <tr>
                <th>{% trans 'Name'%}</th><th>{% trans 'Lot Number'%}</th><th>{% trans 'Category'%}</th><th>{% trans 'Stock'%}</th>
            </tr>
            {% for drug in object_list %}
                <tr>
                    <td><a href="{% url 'inventory:drug-update' pk=drug.id %}">{{ drug.name }}</a></td>
                    <td>{{ drug.lot_number }}</td>
                    <td>{{ drug.category }}</td>
                    <td>{{ drug.stock }}</td>
                </tr>
            {% endfor %}
        </table>
        <button class="btn btn-warning" onclick="location.href ='{{new_drug_url}}'">{% trans 'Create New Drug'%}</button>
        <button class="btn btn-default" onclick="location.href ='{{home}}'">{% trans 'Cancel'%}</button>
    </div>
{% endblock %}
