{% extends "core/base.html" %}
{% load i18n %}

{% block title %}
{% trans 'Edit Drug'%} ({{ object.name }})
{% endblock %}

{% block header %}
<h1><a href="{% url 'inventory:drug-list' %}"><small><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></small></a>
  {% trans 'Edit Drug'%}
</h1>
<p class="lead">{%blocktrans%}Edit <em>{{ object.name }}{%endblocktrans%}</em></p>
{% endblock %}

{% block content %}
<div class="container">
    {% load crispy_forms_tags %}
    {% crispy form %}
</div>
{% endblock %}
