{% extends "pttrack/base.html" %}

{% block title %}
{{ note_type }} {{ patient.name }}
{% endblock %}

{% block header %}
  <h2>New Referral Followup</h2>
  <p class="lead">
    Add a new referral followup for <em>
    <a href="{% url 'patient-detail' pk=patient.pk %}">{{ patient.name }}</a></em>
  </p>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container">
  {% load crispy_forms_tags %}
  {% crispy form %}
</div>

{% endblock %}