{% extends "core/base.html" %}

{% block title %}
Lab detail
{% endblock %}

{% block header %}
<h1>Lab Detail</h1>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container text-center">
	<div class="btn-group">
	    <a class="btn btn-info" href="{% url 'labs:all-labs' pt.id %}" role="button">Back to All Labs</a>
	    <a class="btn btn-info" href="{% url 'labs:all-labs-table' pt.id %}" role="button">Back to Recent Labs</a>
		{% if change_perm %}
		    <a class="btn btn-warning" href="{% url 'labs:lab-edit' lab.id %}" role="button">Edit Lab</a>
		{% endif %}
		{% if delete_perm %}
		    <a class="btn btn-danger" href="{% url 'labs:lab-delete' lab.id %}" role="button">Delete Lab</a>
		{% endif %}
	</div>
</div>

<div class="container">
	<h4>Patient Name: <b>{{pt.name}}</b></h4>
	<h4>Lab Type: <b>{{lab.lab_type}}</b></h4>
	<h4>Lab Time: <b>{{lab.lab_time}}</b> </h4>
</div>


<div class="container">
	<table class="table">
		<tr>
			<th>Measurement</th>
			<th>Reference</th>
			<th>Value</th>
		</tr>
		<!--
		{% for measurement in cont_list %}
			<tr>
				<td>{{ measurement.measurement_type }}</td>
				<td>{{ measurement.value }}</td>
			</tr>
		{% endfor %}
		{% for measurement in disc_list %}
			<tr>
				<td>{{ measurement.measurement_type }}</td>
				<td>{{ measurement.value }}</td>
			</tr>
		{% endfor %}
		-->
		{% for measurement in measurement_list %}
			<tr>
				<td>{{ measurement.measurement_type }}</td>
				<td>{{ measurement.ref }}</td>
				<td style="color:{{measurement.color}}">{{ measurement.value }} {{measurement.warning}}</td>
				<!--td>{{ measurement.value }}</td-->
			</tr>
		{% endfor %}
	</table>

	
</div>

{% endblock %}