{% extends "core/base.html" %}

{% block title %}
Lab detail
{% endblock %}

{% block header %}
<h1>Lab Detail</h1>

<div class="container">
	<h4>Patient Name: <b><a href="{% url 'core:patient-detail' pk=pt.id %}">{{ pt.name }} </a></b></h4>
	<h4>Lab Type: <b>{{lab.lab_type}}</b></h4>
	<h4>Lab Time: <b>{{lab.lab_time}}</b> </h4>
</div>

{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container text-center">
	<div class="btn-group">
	    <a class="btn btn-dark" href="{% url 'labs:all-labs' pt.id %}" role="button">Back to All Labs</a>
	    <a class="btn btn-info" href="{% url 'labs:all-labs-table' pt.id %}" role="button">Recent Labs</a>
		{% if change_lab %}
		    <a class="btn btn-warning" href="{% url 'labs:lab-edit' lab.id %}" role="button">Edit Lab</a>
		{% endif %}
	</div>
</div>


<div class="container">
	<table class="table">
		<tr>
			<th>Measurement</th>
			<th>Reference</th>
			<th>Value</th>
		</tr>
		{% for measurement in measurement_list %}
			<tr>
				<td>{{ measurement.measurement_type }}</td>
				<td>{{ measurement.measurement_type.get_ref }}</td>
				{% if measurement.panic_low %}
					<td style="color:#0000FF">{{ measurement.get_value }} ⚠</td>
				{% elif measurement.panic %}
					<td style="color:#f00">{{ measurement.get_value }} ⚠</td>
				{% else %}
					<td>{{ measurement.get_value }}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>

	
</div>

{% endblock %}