{% extends "core/base.html" %}
{% load i18n %}

{% block title %}
{% trans 'All Labs' %}
{% endblock %}

{% block header%}
<h1>{% trans 'All Labs'%}</h1>

<div class="row text">
	<div class="col-mb-2">
		<h2>{% trans 'Patient'%}: <a href="{% url 'core:patient-detail' pk=pt.id %}">{{ pt.name }} </a></h2>
	</div>
</div>
{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container text-center">
	<div class="btn-group">
		    <a class="btn btn-info" href="{% url 'labs:all-labs-table' pt.id %}" role="button">{% trans 'Recent Labs'%}</a>
			{% if add_lab %}
			    <a class="btn btn-primary" href="{% url 'labs:new-lab' pt.id %}" role="button">{% trans 'New Lab' %}</a>
		    {% endif %}
	</div>
</div>

<div class="container", id="lab_table">
	<table class="table">
	    <tr>
        	<th>{% trans 'Lab type' %}</th>
        	<th>{% trans 'Lab date' %}</th>
        	<th></th>
        	<th></th>
	    </tr>
	    {% for lab in labs %}
	    <tr> 
        	<td>{{ lab.lab_type }}</td>
        	<td>{{ lab.lab_time }}</td>
        	<td><a class="btn btn-warning" href="{% url 'labs:lab-detail' lab.id %}" role="button">{% trans 'Lab Detail' %}</a></td>
	    </tr>
	    {% endfor %}
	</table>
</div>

{% endblock %}