{% extends "core/base.html" %}

{% block title %}
{% trans 'Recent Labs' %}
{% endblock %}

{% block header%}
<h1>{% trans 'Recent Labs' %}</h1>
<div class="row text">  
	<div class="col-mb-2">
		<h2>{% trans 'Patient'%}: <a href="{% url 'core:patient-detail' pk=patient.id %}">{{ patient.name }} </a></h2>
	</div>
</div>
{% endblock %}


{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



<div class="container">
	<div class="container text-center">
		<div class="btn-group">
		    <a class="btn btn-dark" href="{% url 'core:patient-detail' patient.id %}" role="button">{% trans 'Back to Patient Detail' %}</a>
		    {% if add_lab %}
		    	<a class="btn btn-primary" href="{% url 'labs:new-lab' patient.id %}" role="button">{% trans 'New Lab'%}</a>
		    {% endif %}
		    <a class="btn btn-warning" href="{% url 'labs:all-labs' patient.id %}" role="button">{% trans 'All Labs'%}</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="container col-md-6">
		<form method="GET" class="form-inline">
		  <div class="form-group mb-2", style="font-weight:bold">
		    {% trans 'Lab date'%}:
		  </div>
		  <div class="form-group mx-sm-3 mb-2">
		  	<form method='get' action="{% url 'labs:all-labs-table' patient.id %}">
					<select class="form-control" name="select">
					<option value="" selected disabled hidden>{% trans 'Choose here'%}</option>
			    	<option value="6">{% trans 'Last 6 months'%}</option>
			    	<option value="12">{% trans 'Last year'%}</option>
			    	<option value="24">{% trans 'Last 2 years'%}</option>
			    	<option value="6000">{% trans 'All'%}</option>
				    </select>
				    <input type="submit" value="Filter">
			</form>
		  </div>
		</form>
	</div>
</div>


{% if no_lab_bool %}
	<div class="container"/>
		<h3>{%blocktrans%}Oops! The patient does not have any labs in your selected time frame.{%endblocktrans%}</h3>
	</div>

{% else %}


{% if dup_lab_bool %}
<div class="container">
	<div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      <strong>{% trans 'Warning' %}!</strong>
      {%blocktrans%}Multiple labs exist for the date(s) with *. The latest values on that day are displayed here. Please check All Labs page for details.{%endblocktrans%}
  </div>
 </div>
{% endif %}

<style type="text/css">
th:first-child, td:first-child
{
  position:sticky;
  left:0px;
  background-color:white;
}
</style>

<div class="container">
	<div class="table-responsive">
		<table class="table table-bordered">
	    {% for lab_section in table_content %}
	    	{% for row in lab_section %}
	    		{% if forloop.first %}
					<tr class="clickable" role="button" data-toggle="collapse" data-target=".example{{forloop.parentloop.counter}}" aria-expanded="true">
						{% for item in row %}
							{% if forloop.counter == 1 %}
							<th style="background-color:lightgrey; width:20%"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>&nbsp;{{ item }}</th>
							{% elif forloop.counter == 2 %}
							<th style="background-color:lightgrey; width:15%">{{ item }}</th>
							{% else %}
							<th style="background-color:lightgrey;">{{ item }}</th>
							{% endif %}
					  {% endfor %}
					</tr>
					{% else %}
					<tr class="example{{forloop.parentloop.counter}} collapse in">
						{% for item in row %}
							{% if item.value is not None %}
								{% if item.panic_low %}
								<td style="color:#0000FF">{{ item.get_value }} ⚠</td>
								{% elif item.panic %}
								<td style="color:#f00">{{ item.get_value }} ⚠</td>
								{% else %}
								<td>{{ item.get_value }}</td>
								{% endif %}
							{% else %}
					        <td>{{ item }}</td>
					    {% endif %}
					  {% endfor %}
					</tr>
					{% endif %}
				{% endfor %}

			{% endfor %}
		</table>
	</div>
</div>


{% endif %}

{% endblock %}