{% extends "core/base.html" %}

{% block title %}
Recent Labs
{% endblock %}

{% block header%}
<h1>Recent Labs</h1>

<div class="row text">
	<div class="col-mb-2">
		<h2>Patient: <a href="{% url 'core:patient-detail' pk=patient.id %}">{{ patient.name }} </a></h2>
	</div>
</div>

{% endblock %}


{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="container text-center">
	<div class="btn-group">
	    <a class="btn btn-info" href="{% url 'core:patient-detail' patient.id %}" role="button">Back to Patient Detail</a>
	    {% if change_perm %}
	    	<a class="btn btn-primary" href="{% url 'labs:new-lab' patient.id %}" role="button">New Lab</a>
	    {% endif %}
	    <a class="btn btn-warning" href="{% url 'labs:all-labs' patient.id %}" role="button">All Labs</a>
	</div>
</div>

<style>
	th {
	  position: -webkit-sticky;
	  position: sticky;
	  top: 0;
	  z-index: 2;
	}
</style>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    $('#lab_table td.y_n').each(function(){
        if (~$(this).text().indexOf('⚠⚠')) {
            $(this).css('color','#f00');
            $(this).text().slice()
        } else if (~$(this).text().indexOf('⚠')) {
            $(this).css('color','#0000FF');
        }
        if (~$(this).text().indexOf('Lab: ')) {
            $(this).css('font-weight','bold');
        } 
    });
});

$( "#myselect option:selected" )

</script>

<div class="container">
	<form method="GET" class="form-inline">
	  <div class="form-group mb-2", style="font-weight:bold">
	    Lab date
	  </div>
	  <div class="form-group mx-sm-3 mb-2">
			<select class="form-control" id="myselect">
	    	{% for month in months %}
	        	<option value="{{month}}">{{ month }}</option>
	        {% endfor %}
		    </select>
		    <input type="submit" value="Filter">
	  </div>


	</form>
</div>


<div class="container", id="lab_table">
	<table class="table">
	    <tr>
	    	{% for item in header %}
	        	<th>{{ item }}</th>
	        {% endfor %}
	    </tr>
	    {% for row in table %}
	    <tr> 
	    	{% for item in row %}
	        		<td class="y_n">{{ item }}</td>
	        {% endfor %}
	    </tr>
	    {% endfor %}
	</table>
</div>

{% endblock %}