<li class="list-group-item">
	{% if not action_item.done %}
		<p>
		  <strong>
		  {% if settings.OSLER_DISPLAY_FOLLOWUP %}
		    <a href="{{ clear_url }}">{{ action_item.short_name }}:</a>
		  {% else %}
		    {{ action_item.short_name }}:
		  {% endif %}
		  </strong>
		  {{ action_item.summary }}
		</p>

		{% if not settings.OSLER_DISPLAY_FOLLOWUP %}
			<a class="btn btn-warning" href="{{ clear_url }}" role="button">Mark Complete</a>
		{% endif %}



	{% else %}  {# ai complete #}
		<p>
			<strong>{{ action_item.short_name }}:</strong> {{ action_item.summary }}
		</p>
	{% endif %}

	{% if action_item.priority %}
		<h4 class="text-left" style="color:red"><b>PRIORITY</b></h4>
	{% endif %}
	
	<p class="text-muted text-right">Due {{ action_item.due_date }}</p>
	<p class="text-muted text-right">Created by {{ action_item.author }} on {{ action_item.written_datetime }}</p>
</li>
