.select2-selection__choice ,.select2-search__field{
  margin-top: 0 !important;
  margin-bottom: 5px !important;
}

.med-input{
  width:50px;
}

/* .select2, .select2-container, .select2-container--default, .select2-container--below, .select2-container--focus{
  height: max-content;
} */

/* .select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple{
  border: none;
} 

.select2-container--default.select2-container--focus .select2-selection--multiple{
  border: none;
} */