{% extends "core/base.html" %}

{% load i18n %}

{% block title %}
{% trans 'Select referral' %}
{% endblock %}

{% block header %}
<h1>{% trans 'Select Referral' %}</h1>
<p class="lead">{% trans 'Specify which referral you would like to update' %}</p>
{% endblock %}

{% block content %}

{% if form.fields.referrals.queryset.count %}
<div class="container">
	{% load crispy_forms_tags %}
	{% crispy form %}
</div>
{% else %}
<div class="container" />
<h3>{% blocktrans %}Oops! There aren't any active referrals for this patient... {% endblocktrans %}</h3>
<p>{% trans 'Do you want to' context "Do you want to create one?" %} <a href="{% url 'select-referral-type' pt_id=pt_id %}">{% trans 'create one?' context "Do you want to create one?" %}</a></p>
</div>
{% endif %}

{% endblock %}